<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contacto</title>
    <link rel="stylesheet" href=".././css/estilos.css">
</head>

<body>

    <header>

        <!--contenedor principal menu-->

        <div class="menucaja">
            <div class="logo">
                <a href=".././index.html">
                    <img src=".././images/WhiteLogo.svg" alt="Logo Pomodoro" height="41" width="60">
                </a>
            </div>

            <!--MENU-->

            <nav>
                <ul>
                    <li><a href="./productos.html">PRODUCTOS</a></li>
                    <li><a href="./presupuesto.html">PRESUPUESTO</a></li>
                    <li><a href="./contacto.html" class="vista">CONTACTO</a></li>
                </ul>
            </nav>
            <div>
                <p>POMODORO</p>
            </div>
        </div>
    </header>

    <section class="contacto">
        <div class="contactobox1">
            <h1>Contacto</h1>
            <hr>
            <h2>¡Estamos aquí para escucharte! Si tienes preguntas, quieres contratarnos para un evento o simplemente
                quieres enviarnos un mensaje de apoyo, no dudes en contactarnos a través de los siguientes medios:</h2>
            <hr>
        </div>
        <div class="contactobox2">
            <div>
                <img src=".././images/mapa.png" alt="mapa de la ciudad de Madrid" height="550">
            </div>
            <div>
                <h3>Dirección Física</h3>
                <p>Calle Riff y Rock, 123 <br>
                    Huerto Musical, 28001 <br>
                    Madrid, España</p>
                <h3>Teléfono</h3>
                <p>+34 123 456 789</p>
                <h3>Correo Electrónico</h3>
                <p>contacto@pomodoro.com</p>
                <h3>Síguenos en redes sociales</h3>
                <a href="https://es-es.facebook.com/">Facebook</a>
                <a href="https://www.instagram.com/">Instagram</a>
                <a href="https://www.youtube.com/">YouTube</a>
                <a href="https://open.spotify.com/intl-es">Spotify</a>
                <h3>Horario de Atención</h3>
                <p>Lunes a viernes: 9:00 AM - 6:00 PM <br>
                    Sábados y Domingos: Solo eventos y consultas urgentes.</p>
                <h3>Nota</h3>
                <p>Si no recibes respuesta en un plazo de 48 horas, revisa tu bandeja de spam o vuelve a
                    contactarnos.
                    ¡Gracias por tu paciencia y apoyo!</p>
            </div>
        </div>

    </section>

    <!--FOOTER-->

    <footer>

        <div class="contenedorfooter">

            <!--caja logo-->

            <div>
                <img src=".././images/WhiteLogo.svg" alt="Logo Pomodoro" height="133">
                <div>
                    <p>© 2024 Pomodoro.<br>Todos los derechos reservados.</p>
                </div>
            </div>

            <!-- contenedor-->

            <div class="containerderecha">

                <div class="footer1">

                    <!--links a redes-->

                    <div>
                        <h2>Síguenos en redes sociales</h2>
                        <ul>
                            <li>
                                <a href="https://es-es.facebook.com/">
                                    <img src=".././images/003-facebook.png" alt="logo de facebook" height="25">
                                </a>
                                <p>Facebook</p>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/">
                                    <img src=".././images/002-instagram.png" alt="logo de instagram" height="25">
                                </a>
                                <p>Instagram</p>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/">
                                    <img src=".././images/001-youtube.png" alt="logo de youTube" height="25">
                                </a>
                                <p>YouTube</p>
                            </li>
                            <li>
                                <a href="https://open.spotify.com/intl-es">
                                    <img src=".././images/004-spotify.png" alt="logo de spotify" height="25">
                                </a>
                                <p>Spotify</p>
                            </li>
                        </ul>
                    </div>

                    <!--seccion datos-->

                    <div>
                        <ul>
                            <li>Términos y Condiciones</li>
                            <li>Política de Privacidad</li>
                            <li>Aviso Legal</li>
                        </ul>
                    </div>
                    <div>
                        <p>Este sitio web y su contenido están protegidos por las leyes de derechos de autor.<br>
                            Para consultas de prensa, contrataciones o colaboraciones, contáctanos en:</p>
                        <ul>
                            <li>contacto@pomodoro.com</li>
                            <li>+34 123 456 789</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="footer2">
                    <div>
                        <h2>Conciertos y eventos:</h2>
                        <p>¿Quieres que POMODORO llene tu evento de energía y ritmo?
                        </p>
                        <a href=".././views/presupuesto.html">Envía tu solicitud</a>
                    </div>
                </div>
            </div>
        </div>

    </footer>

</body>

</html>