<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productos</title>
    <link rel="stylesheet" href=".././css/estilos.css">
</head>

<body>
    <header>

        <!--contenedor principal menu-->

        <div class="menucaja">
            <div class="logo">
                <a href=".././index.html">
                    <img src=".././images/WhiteLogo.svg" alt="Logo Pomodoro" height="41" width="60">
                </a>
            </div>

            <!--MENU-->

            <nav>
                <ul>
                    <li><a href="./productos.html" class="vista">PRODUCTOS</a></li>
                    <li><a href="./presupuesto.html">PRESUPUESTO</a></li>
                    <li><a href="./contacto.html">CONTACTO</a></li>
                </ul>
            </nav>
            <div>
                <p>POMODORO</p>
            </div>
        </div>
    </header>

    <!--SECCION 1 ALBUMES-->

    <section class="galeria">

        <!--cabezera-->

        <h1 class="titulogaleria">Álbumes</h1>
        <hr>

        <!--album 1-->

        <div class="galeriacaja">

            <!--caja imagen/audio-->

            <div id="albumpomodoro">
                <img src=".././images/album1.png" alt="Primer Álbum de la banda" height="400">
                <audio controls>
                    <source src=".././assets/pomodoroFinal.mp3" type="audio/mp3">
                </audio>
            </div>

            <!--caja infomacion-->

            <div>
                <h1>Pomodoro</h1>
                <h2>Año de Lanzamiento: 2015 <br> Número de Canciones: 10</h2>
                <p><b>Reseña: </b>Inspirado en el rock moderno con toques de punk, el álbum es una declaración de
                    principios de la banda, donde expresan su amor por la música y las raíces que los unen. Cada canción
                    es como una receta donde la paciencia se mezcla con energía
                    explosiva.
                </p>
                <hr>
                <ol>
                    <li>"Tomates y Riffs" – 1:46</li>
                    <li>"Semillas de Acero" – 4:20</li>
                    <li>"Bajo el Sol Ardiente" – 3:15</li>
                    <li>"Pasión Roja" – 5:00</li>
                    <li>"Entre Riffs y Raíces" – 4:10</li>
                    <li>"En el Huerto del Sonido" – 3:30</li>
                    <li>"Cosecha de Rock" – 3:45</li>
                    <li>"La Paciencia del Tiempo" – 4:35</li>
                    <li>"En La Tierra del Rock" – 4:25</li>
                    <li>"Un Final en Rojo" – 5:15</li>
                </ol>
            </div>
        </div>

        <!--album 2-->

        <div class="galeriacaja">

            <!--caja imagen/audio-->

            <div id="albumpomidori">
                <img src=".././images/album3.png" alt="Segundo Álbum de la banda" height="400">
                <audio controls>
                    <source src=".././assets/somos_pomodoro.mp3" type="audio/mp3">
                </audio>
            </div>

            <!--caja infomacion-->

            <div>
                <h1>Pomidori</h1>
                <h2>Año de Lanzamiento: 2018 <br> Número de Canciones: 12</h2>
                <p><b>Reseña: </b>Este segundo álbum marca un cambio en el sonido de la banda, con ritmos más variados
                    punk. Es un homenaje a los tiempos difíciles y a la idea de que las mejores cosechas vienen tras el
                    esfuerzo. Las canciones reflejan una mezcla de punk y rock, llenas de capas sonoras e
                    instrumentales.
                </p>
                <hr>
                <ol>
                    <li>"Somos Pomodoro" – 2:25</li>
                    <li>"Fotosíntesis Sonora" – 4:05</li>
                    <li>"Bajo las Luces de Sodio" – 3:35</li>
                    <li>"Sin Lluvia No Hay Rock" – 4:50</li>
                    <li>"Ecos de Raíces" – 3:40</li>
                    <li>"Frutos del Ritmo" – 5:05</li>
                    <li>"Cosecha Nocturna" – 3:30</li>
                    <li>"Verde Infinito" – 3:55</li>
                    <li>"Alma en el Invernadero" – 4:25</li>
                    <li>"Pulso de la Tierra" – 4:45</li>
                    <li>"El Jardín del Rock" – 4:20</li>
                    <li>"Sueños Bajo Cristal" – 5:00</li>
                </ol>
            </div>
        </div>

        <!--album 3-->

        <div class="galeriacaja">

            <!--caja imagen/audio-->

            <div id="albumeresmimediotomate">
                <img src=".././images/album2.png" alt="Tercer Álbum de la banda" height="400">
                <audio controls>
                    <source src=".././assets/Hey_Ho_Tomato_Funk.mp3" type="audio/mp3">
                </audio>
            </div>

            <!--caja infomacion-->

            <div>
                <h1>Eres mi medio tomate</h1>
                <h2>Año de Lanzamiento: 2021 <br> Número de Canciones: 9</h2>
                <p><b>Reseña: </b>En su tercer álbum, la banda toma una dirección fresca y experimental al fusionar rock
                    con funk y groove. Con letras más desenfadadas y un ritmo bailable, "Eres mi medio tomate" es el
                    disco más
                    enérgico de la banda. Este álbum celebra la diversión y el estilo de vida relajado de
                    la banda, con un sonido que invita a bailar y a olvidarse de las preocupaciones.
                </p>
                <hr>
                <ol>
                    <li>"Tomatofunk" – 1:47</li>
                    <li>"Ritmo de Tomate" – 3:20</li>
                    <li>"Groove del Huerto" – 3:50</li>
                    <li>"Rojo de Medianoche" – 4:10</li>
                    <li>"Pasos de Fuego" – 3:25</li>
                    <li>"Intro al Invernadero" – 4:45</li>
                    <li>"Vibras en el Sol" – 3:40</li>
                    <li>"Tierra y Soul" – 4:30</li>
                    <li>"Fiesta en el Huerto" – 5:15</li>
                </ol>
            </div>
        </div>

    </section>

    <!--SECCION 2 PRODUCTOS-->

    <section class="galeriaproductos">

        <!--cabezera-->

        <hr>
        <h1 class="titulogaleria">Otros productos</h1>
        <hr>
        <div>
            <img src=".././images/guitarra-2.jpg" alt="guitarra acustica">
            <img src=".././images/polo.jpg" alt="polo blanco">
            <img src=".././images/tazas.jpg" alt="tazas blancas">
            <img src=".././images/vinilo.jpg" alt="vinilos">
            <img src=".././images/zapatos.jpg" alt="zapatos blancos">
            <img src=".././images/tomate.jpg" alt="tomates de la huerta">
        </div>

    </section>

    <!--FOOTER-->

    <footer>

        <div class="contenedorfooter">

            <!--caja logo-->

            <div>
                <img src=".././images/WhiteLogo.svg" alt="Logo Pomodoro" height="133">
                <div>
                    <p>© 2024 Pomodoro.<br>Todos los derechos reservados.</p>
                </div>
            </div>

            <!-- contenedor-->

            <div class="containerderecha">

                <div class="footer1">

                    <!--links a redes-->

                    <div>
                        <h2>Síguenos en redes sociales</h2>
                        <ul>
                            <li>
                                <a href="https://es-es.facebook.com/">
                                    <img src=".././images/003-facebook.png" alt="logo de facebook" height="25">
                                </a>
                                <p>Facebook</p>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/">
                                    <img src=".././images/002-instagram.png" alt="logo de instagram" height="25">
                                </a>
                                <p>Instagram</p>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/">
                                    <img src=".././images/001-youtube.png" alt="logo de youTube" height="25">
                                </a>
                                <p>YouTube</p>
                            </li>
                            <li>
                                <a href="https://open.spotify.com/intl-es">
                                    <img src=".././images/004-spotify.png" alt="logo de spotify" height="25">
                                </a>
                                <p>Spotify</p>
                            </li>
                        </ul>
                    </div>

                    <!--seccion datos-->

                    <div>
                        <ul>
                            <li>Términos y Condiciones</li>
                            <li>Política de Privacidad</li>
                            <li>Aviso Legal</li>
                        </ul>
                    </div>
                    <div>
                        <p>Este sitio web y su contenido están protegidos por las leyes de derechos de autor.<br>
                            Para consultas de prensa, contrataciones o colaboraciones, contáctanos en:</p>
                        <ul>
                            <li>contacto@pomodoro.com</li>
                            <li>+34 123 456 789</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="footer2">
                    <div>
                        <h2>Conciertos y eventos:</h2>
                        <p>¿Quieres que POMODORO llene tu evento de energía y ritmo?
                        </p>
                        <a href=".././views/presupuesto.html">Envía tu solicitud</a>
                    </div>
                </div>
            </div>
        </div>

    </footer>

</body>

</html>